<footer class="footer">
    <div class="container footer-container">
        <span class="footer-info">Terms of Use</span>
        <span class="footer-info">Privacy Policy</span>
        <span class="footer-info">© Lyfestyle Blog</span>
    </div>
</footer>