<header class="header">
    <div class="container header-container">
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="/" class="nav-list-item-link">Home</a>
                </li>
                <li class="nav-list-item">
                    <a href="/user-posts" class="nav-list-item-link">My posts</a>
                </li>
            </ul>
        </nav>
        <a href="/" class="header-logo-link">
            <img src="/img/logo.svg" alt="logo" class="logo-img">
        </a>
        <div class="header-auth">
            <ul class="header-auth-list">
                <li class="auth-list-item">
                    <a href="/auth/login" class="auth-list-item-link button button-primary">Login</a>
                </li>
                <li class="auth-list-item">
                    <a href="/auth/register" class="auth-list-item-link button button-secondary">Sign Up</a>
                </li>
                <li class="auth-list-item">
                    <!-- <a href="/auth/logout" class="auth-list-item-link button button-primary">Logout</a> -->
                </li>
            </ul>
        </div>
    </div>
</header>