.error-container{
    @include flex(center, center, 20px, column);

    .error-status{
        font-size: $fz-xl;
        line-height: $lh-l;
    }

    .error-message{
        font-size: $fz-xm;
        line-height: $lh-m;

    }

    .main-page-link{
        color: $primary-color;
    }

}