// ----------------- Fonts ----------------

$fz-l: clamp(26px, calc(35 / 1200 * 100vw), 35px); 
$fz-m: clamp(28px, calc(30 / 1200 * 100vw), 30px);
$fz-xm: clamp(22px, calc(25 / 1200 * 100vw), 25px);
$fz-xs: clamp(14px, calc(16 / 1200 * 100vw), 16px); 
$fz-xxs: clamp(12px, calc(14 / 1200 * 100vw), 14px);

$lh-l: 150%;
$lh-m: 133%;
$lh-s: 120%;

// -------------- Colors ---------------

$primary-color: #166AEA;
$secondary-color: lighten($primary-color, 50%);
$bg-color: #fff;
$text-color-primary: #191c1e;
$text-color-secondary: #fff;
$error-color: #FE4066;

